# Reinstalled via `npm install` - don't commit
node_modules/

# Android build output / machine-specific files
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/.idea/
android/app/release/

# iOS build output / machine-specific files
ios/App/build/
ios/App/DerivedData/
ios/App/Pods/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcodeproj/project.xcworkspace/xcuserdata/

.DS_Store
